{include file="public/user/userheader" /}
     <link href="__USCENTER__/css/basic.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="__USCENTER__/css/iconfont.css">
    <script language="javascript" src="{:config('cdnpublic')}jquery/1.8.3/jquery.min.js"></script>
    <script language="javascript" src="__USCENTER__/js/qiandao.js"></script>
    <script src="__USCENTER__/js/wangeditor.min.js"></script>
    <script src="__USCENTER__/js/plupload.full.min.js"></script>
    <script src="{:config('cdnpublic')}layer/3.1.1/layer.js"></script>
    <script src="__USCENTER__/js/person_content.js"></script>
    <link rel="stylesheet" href="__USCENTER__/css/index.css">
    <link rel="stylesheet" href="__USCENTER__/css/person_content.css">
    <link rel="stylesheet" href="__USCENTER__/css/publish_need.css">
    <link rel="stylesheet" href="__USCENTER__/css/common.css" /></head>
    <link href="__USCENTER__/css/style.min.css?v=4.1.0" rel="stylesheet">
 <body>
    <!--头部-->
    {include file="public/user/usertop" /}
    <!--头部-->
    <!--个人中心-->
    <div class="main">
      <div class="clearfix person_conetent">﻿
        <!--左侧菜单-->
        {include file="public/user/userleft" /}
        
        <!--右侧展示-->
        <div class="person_content_r right">

          <div class="need_admin">
                <div class="clearfix publish_need_tit">
                    <h2 class="left">提现支付宝配置</h2>
                </div>


                <div class="basic_info">
                    <form  id="basic_form" method="post" action="{:url('user/usinfo')}">
                        <dl class="clearfix basic_info_dl">
                            <dt class="left">支付宝帐号</dt>
                            <dd class="left" style="margin-left: 5px;"><input type="text" name="alipayno" class="input_default" placeholder="请输入支付宝帐号" id="alipayno" value="{$hasUser['alipayno']}"></dd>
                        </dl>

                        <dl class="clearfix basic_info_dl">
                            <dt class="left">支付宝姓名</dt>
                            <dd class="left" style="margin-left: 5px;"><input type="text" name="alipayname" class="input_default" placeholder="支付宝姓名" id="alipayname" value="{$hasUser['alipayname']}"></dd>
                        </dl>
                        
                        

                        <div class="basic_info_btn">
                            <button type="submit" class="basic_save">保存修改</button>
                        </div>
                    </form>

                </div>



            </div>
            

        </div>
      </div>
    </div>
             
  

    <!--非商家提示去认证-->
    {include file="public/imgpc/footer" /}
     <script type="text/javascript" src="{:config('cdnpublic')}jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{:config('cdnpublic')}jquery.form/3.51/jquery.form.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/lunhui.js"></script>

    <script>
    	$(function(){
	        $('#basic_form').ajaxForm({
	            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
	            success: complete, // 这是提交后的方法
	            dataType: 'json'
	        });
	        
	        function checkForm(){
	             layer.load(0, {shade: [0.4,'#0f0e0e']});
	             var alipayno = $.trim($('#alipayno').val());
	             var alipayname = $.trim($('#alipayname').val());
	             if(alipayno==""){
	             	layer.alert("支付宝帐号不能为空", {
		                
		                time: 4000
		            });
		            layer.closeAll('loading');
		            return false;
	             }
	        	if(alipayname==""){
	             	layer.alert("支付宝用户名不能为空", {
		              
		                time: 4000
		            });
		            layer.closeAll('loading');
		            return false;
	             }
	             
	        }
	
	
	        function complete(data){
	            layer.closeAll('loading');
	            if(data.code==1){
	                lunhui.success(data.msg,data.url);
	            }else{ 
	                lunhui.error(data.msg);	            
	                return false;   
	            }
	        }
	    });
	   
	
	
	  
	 
	
	  

	</script>
 </body>

</html>