<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_URI} ^(.*)$  
RewriteRule ^(application|data|extend|rule|runtime|sldate|thinkphp|uploadintegral|uploads|view|vendor|upload|app|static)/(.*).(php|php5|phtml|json)$ waf.php?wafhtml=1 [R=301,NC,L]
RewriteCond %{REQUEST_URI} !^/public/.*$
RewriteRule ^(.*)$ /public/$1 [QSA,L]
</IfModule>