<script src="/static/cdn/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/cdn/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
<script src="/static/cdn/chosen/1.1.0/chosen.jquery.js"></script>
<script src="/static/cdn/iCheck/1.0.2/icheck.min.js"></script>
<script src="/static/cdn/layui-laydate/5.0.9/src/laydate.js"></script>
<script src="/static/cdn/switchery/0.5.0/switchery.min.js"></script><!--IOS开关样式-->
<script src="/static/cdn/jquery.form/3.51/jquery.form.min.js"></script>
<script src="/static/cdn/layer/3.1.1/layer.min.js"></script>
<script src="__JS__/laypage/laypage.js"></script>
<script src="__JS__/laytpl/laytpl.js"></script>
<script src="__JS__/lunhui.js"></script>
<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
</script>