<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录 - {:config('shop_name')}</title>
    <link rel="stylesheet" href="/static/modern/css/style.css?v=20260220-auth1">
    <link rel="stylesheet" href="/static/cdn/layer/2.2/skin/default/layer.css">
</head>
<body>
<header class="mod-header">
    <div class="container mod-header-inner">
        <div class="mod-logo">
            <div class="mod-logo-icon">F</div>
            <span>{:config('shop_name')}</span>
        </div>
        <nav class="mod-nav">
            <a href="{:url('Index/index')}">首页</a>
            <a href="{:url('Index/goodscategoryall')}">商品分类</a>
        </nav>
        <div class="mod-user-link">
            <a href="{:url('Index/index')}">返回商城</a>
        </div>
    </div>
</header>

<div class="mod-auth-wrap">
    <div class="mod-auth-card">
        <h1>欢迎登录</h1>
        <p class="mod-auth-subtitle">登录后可查看订单、余额与会员中心</p>

        <form action="{:url('index')}" method="post" id="dologin">
            <input type="hidden" id="former_url" name="former_url" value="{$former_url}">
            <div class="mod-form-group">
                <label class="mod-form-label">用户名 / 手机号</label>
                <input type="text" class="mod-form-input" id="account" name="account" autocomplete="off" placeholder="请输入用户名或手机号">
            </div>
            <div class="mod-form-group">
                <label class="mod-form-label">登录密码</label>
                <input type="password" style="display:none" autocomplete="off">
                <input type="password" class="mod-form-input" id="password" name="password" placeholder="请输入密码">
            </div>

            {if condition="config('CODE_TYPE') eq 0"}
            <div class="mod-form-group">
                <label class="mod-form-label">验证码</label>
                <div class="mod-auth-code-row">
                    <input type="text" class="mod-form-input" id="veri" name="code" placeholder="请输入验证码">
                    <img id="veriimg" class="mod-auth-code-img" src="{:url('checkVerify')}" onclick="javascript:this.src='{:url('checkVerify')}?tm='+Math.random();">
                </div>
            </div>
            {else/}
            <div class="mod-form-group">
                <label class="mod-form-label">行为验证</label>
                <div id="captcha" class="mod-auth-captcha-box">
                    <div id="text">行为验证™ 安全组件加载中</div>
                    <div id="wait" class="show">
                        <div class="loading">
                            <div class="loading-dot"></div>
                            <div class="loading-dot"></div>
                            <div class="loading-dot"></div>
                            <div class="loading-dot"></div>
                        </div>
                    </div>
                </div>
            </div>
            {/if}

            <div class="mod-auth-links">
                <a href="{:url('jingdian/user/reg')}">账号注册</a>
                <a href="{:url('jingdian/user/resetpwd')}">忘记密码</a>
            </div>

            <button class="mod-goods-btn" id="loginbtn" type="submit" style="width:100%;margin-top:6px;">登录</button>
        </form>
    </div>
</div>

<script src="/static/cdn/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/cdn/jquery.form/3.51/jquery.form.min.js"></script>
<script src="/static/cdn/layer/2.2/layer.js"></script>
<script src="/static/admin/js/lunhui.js"></script>
<script src="__GT__/js/gt.js"></script>
<script>
function removeAllSpace(str) {
    if(typeof(str)==="undefined"){
        return '';
    }
    return str.replace(/\s+/g, "");
}

$('#veri').focus(function(){
    $('#loginbtn').removeClass('off');
    $('#loginbtn').attr('disabled',false);
});

$(function(){
    $('#dologin').ajaxForm({
        beforeSubmit: checkForm,
        success: complete,
        dataType: 'json'
    });

    function checkForm(){
        {if condition="config('CODE_TYPE') eq 0"}
        var veri = removeAllSpace($('#veri').val());
        if(veri.length < 4){
            layer.tips('验证码不正确', '#veri',{time:1000});
            return false;
        }
        {else/}
        var result = publicObj.getValidate();
        if (!result) {
            layer.tips('请先完成验证', '#captcha',{time:1000});
            return false;
        }
        {/if}
        $('#loginbtn').text('登录中...');
        $('#loginbtn').attr('disabled',true);
        $('#loginbtn').addClass('off');
    }

    function complete(data){
        if(data.code==1){
            if(data.url=="{:config('is_https')}://"+window.location.host+"{:url('jingdian/index/index')}"){
                data.url="{:url('user/uscenter')}";
            }
            lunhui.success(data.msg,data.url);
        }else{
            lunhui.error(data.msg);
            {if condition="config('CODE_TYPE') eq 0"}
            $('#veriimg').attr('src',"{:url('checkVerify')}");
            {else/}
            publicObj.reset();
            {/if}
            $('#loginbtn').text('登录');
            $('#loginbtn').attr('disabled',false);
            $('#loginbtn').removeClass('off');
            return false;
        }
    }
});

{if condition="config('CODE_TYPE') eq 1"}
var publicObj;
var handler = function (captchaObj) {
    captchaObj.appendTo('#captcha');
    captchaObj.onReady(function () {
        $('#wait').hide();
    });
    publicObj = captchaObj;
    window.gt = captchaObj;
};

$.ajax({
    url: '/jingdian/geetest/StartCaptchaServlet?t=' + (new Date()).getTime(),
    type: 'get',
    dataType: 'json',
    success: function (data) {
        $('#text').hide();
        $('#wait').show();
        initGeetest({
            gt: data.gt,
            challenge: data.challenge,
            offline: !data.success,
            new_captcha: data.new_captcha,
            product: 'float',
            width: '100%'
        }, handler);
    }
});
{/if}
</script>
</body>
</html>
