<div class="fui-navbar">
	<a href="{:url('index')}" class="external nav-item" id="home">
		<span class="icon icon-home"></span>
		<span class="label">工作台</span>
	</a>

	<a href="{:url('member')}" class="external nav-item" id="member">
		<span class="icon icon-group"></span>
		<span class="label">会员</span>
	</a>

	<a href="{:url('order')}" class="external nav-item" id="order">
		<span class="icon icon-rejectedorder"></span>
		<span class="label">订单</span>
	</a>
	<a href="{:url('goods')}" class="external nav-item" id="goods">
		<span class="icon icon-goods"></span>
		<span class="label">商品</span>
	</a>

	



</div>