<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="__MOBANAK__/css/ak_style.css" rel="stylesheet" type="text/css" />
		<link href="{:config('cdnpublic')}twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="{:config('cdnpublic')}font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
		<script type="text/javascript" src="{:config('cdnpublic')}jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="{:config('cdnpublic')}qrcodejs/1.0.0/qrcode.min.js"></script>
		<meta name="keywords" content="{:config('web_site_keyword')}" />
		<meta charset="UTF-8" name="description" content="{:config('web_site_description')}" /> 
		<title>{:config('web_site_title')}</title>
		<style>
			.attachcss{
				    position: fixed;
				    left: 0px;
				    bottom: 10px;
				    width: 100%;
				    height: 50px;
				    background-color: rgb(113, 110, 107);
			}
		</style>
	</head>

	<body>
			

		<form method="post" action="" id="formid" target="_blank">
			
			<input type="hidden" name="p2_Order" value="" />
		    <input type="hidden" name="p3_Amt" value="" />
		   
		    <input type="hidden" name="pa7_cardAmt" value="" />
		    <input type="hidden" name="pa8_cardNo" value="" />
		    <input type="hidden" name="pa9_cardPwd" value="" />
		    <input type="hidden" name="p5_Pid" value="{$param['p5_Pid']}" />
		    <input type="hidden" name="pa_MP" value="" />
		    <input type="hidden" name="title" value="{$param['title']}" />
      
		<div id="hot" style="display: block;">

			<div class="hot-in wow bounceIn">

				<div class="tcbt">订单信息</div>

				<div class="tcnrbox center">
					<div class="tcnr">
						订单编号：
						<span id="p2_Order" class="ddhtext" id="t_ddh"></span><br><span class="tstext"> 【提取卡密重要凭证】</span>
						<br>商品名称：<span id="t_name">{$param['title']}</span>
						
						
						<br>支付方式：<span id="spname">
                    	<select name="pd_FrpId" class="xzspxzk" id="pd_FrpId">
                    		<option value="0">-=请选择支付方式=-</option>
                    		<option value="alipay" selected>支付宝扫码</option>
                    		<option value="wxpay">微信扫码</option>
                    		<option value="qqpay">QQ钱包</option>
                    		<option value="tenpay">财付通</option>
                    		<option value="unionPay">聚合支付</option>
                    	</select>
                    </span> &nbsp;
						{if condition="count($attach) neq 0"}
						<div class="tcmzsm">
							<div class="tcmzsmbt">附加选项(必填)</div>
							<div class="tcmzsmnr">
								{volist name="attach" id="vo"}
								{$vo.title}：<input id="attach{$vo.id}"  name="attach{$vo.id}" style="width: 55%;margin-bottom: 2px;" type="text"  value="" placeholder="{$vo.tip}" /><br>
								{/volist}
							</div>				
						</div>
						{/if}
						<div class="tcmzsm">
							<div class="tcmzsmbt">免责声明</div>
							<div class="tcmzsmnr">
								<font color="#399eb4"> •</font> 我们仅提供自动发卡服务，售后问题请及时联系卖家<br>
								<font color="#399eb4"> •</font> 如产生交易纠纷请联系卖家处理，也可以联系客服介入<br>
								<font color="#399eb4"> •</font> 如果您遇到虚假商品或取卡问题，请尽快联系网站客服
							</div>
						</div>

					</div>

					<div class="attachcss">
					<div class="zhong" id="d1">
						<input type="button" class="tcan1" id="tcan1" value="确认支付" style="cursor:pointer;">
						<input onclick="back_url()" type="button" class="tcan2" id="tcan2" value=" 取消购买 " style="cursor:pointer">
					</div>
					<div class="zhong" style="display:none;" id="d2">
						<input onclick="back_url()" type="button" class="tcan1" id="tcan3" value="返回商品" style="cursor:pointer;">
						
						<input type="button" class="tcan2" id="tcan4" value="等待付款中..." style="cursor:pointer;">				
					</div>
					</div>

				</div>

			</div>

		</div>
		</form>
		<script src="{:config('cdnpublic')}jquery/2.1.4/jquery.min.js"></script>
		<script src="{:config('cdnpublic')}layer/3.1.1/layer.js"></script>
		<script src="https:/static/cdn/layui/v2.5.4/layui.js"></script>
		<script src="/static/admin/js/lunhui.js"></script>
		<script type="text/javascript">
			var goods = {:json_encode($param['data_yh']['data_yh'])};
			var data = eval(goods);
            var buynum={$param['buynum']};
            var price={$param['mprice']};
			//计算单价

			if(data.length > 0) {
				for(var i = 0; i < data.length; i++) {
					if(data[i].mdy > buynum) {

					} else {
						price = parseFloat(data[i].mdj / 100);
					}
				}

			}
			

			//计算购买金额
			money = toDecimal(buynum * price);
			$("#Money").html(money);
			$("[name=p3_Amt]").val(money);

			function toDecimal(x){
		  		var f = parseFloat(x);
				if(isNaN(f)) {
					return false;
				}
				var f;
				if(getFloor(x)<2){
					f = Math.round(x * 100) / 100;
				}else if(getFloor(x)>2){
					f = Math.round(x * 10000) / 10000;
				}	
				var s = f.toString();
				var rs = s.indexOf('.');
				if(rs < 0) {
					rs = s.length;
					s += '.';
				}
				while(s.length <= rs + 2) {
					s += '0';
				}
				return s;
		  	}
		  	
			function getFloor(x){
				var y = String(x).indexOf('.') + 1;
				var count = String(x).length - y;
				if(y <= 0) {
					count=0;
				}
				return count;										
			}

			var out_trade_no = document.getElementById("p2_Order");
			Date.prototype.format = function(format) {
				var args = {
					"M+": this.getMonth() + 1,
					"d+": this.getDate(),
					"h+": this.getHours(),
					"m+": this.getMinutes(),
					"s+": this.getSeconds(),
				};
				if(/(y+)/.test(format))
					format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
				for(var i in args) {
					var n = args[i];
					if(new RegExp("(" + i + ")").test(format))
						format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? n : ("00" + n).substr(("" + n).length));
				}
				return format;
			};
			out_trade_no.innerText = new Date().format("yyyyMMddhhmmss") + randomNum(10);
            $('[name=p2_Order]').val(out_trade_no.innerText);
			function randomNum(n) {
				var t = '';
				for(var i = 0; i < n; i++) {
					t += Math.floor(Math.random() * 10);
				}
				return t;
			}
			
			 function back_url() {
			        try {
			       
						var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
						parent.layer.close(index);
			        } catch (err) {
			            window.history.back();
			        }
			        return false;
	    	}
			function getorder() {
				var order=$('[name=p2_Order]').val();
			       top.location="{:config('is_https')}://"+window.location.host+"{:url('@jingdian/Getmail/index')}"+"?mpid={$param['p5_Pid']}&number="+order;
			       setTimeout("back_url()",1000);
			        return false;
	    	}
			
			 function oderquery(){
               var order=$('[name=p2_Order]').val();
              
			   $.ajax({
			            url:"{:url('api/pub/checkdingdan')}?mcard="+order+"&t=" + timer,
			            type: "GET",
			            dataType:"text",
			            success: function (res) {	                
			                if (res==1) { //订单状态为1表示支付成功	    
			               // clearInterval(index);          
		                 
		                 $("#tcan4").attr("onclick","getorder()")
		                 $("#tcan4").val("查看卡密");
		                 
			               
			                }else{
			                	setTimeout('oderquery()',1000);
			                }
			            },
			            error: function () {
			               setTimeout('oderquery()',1000); 
			            }
			        });
		        
		    }
			 
			$("#d1").click(function(){
            $("#d1").hide();
            $("#d2").show().attr("dis");
			setTimeout('oderquery()',3000);
        	}); 
        	
        	$('#tcan1').click(function() {
				
				
				var pd_FrpId=$("[name=pd_FrpId]").val();
                var lianxi={$param['lianxi']};
                var money=$("[name=p3_Amt]").val();
                var email="";
				
				{if condition="count($attach) neq 0"}		
				{foreach name="$attach" item="vo"}	
				if(''==$.trim($("#attach{$vo.id}").val())){
					layer.alert("{$vo.title}不能为空", {
						skin: 'layui-layer-lan',
						closeBtn: 0,
						anim: 0 //动画类型
					});
					
				
					$("#attach{$vo.id}").focus();
					return false;
				}
				{/foreach}		
				{/if}
				
				
				if(pd_FrpId=="0"){
					layer.msg('请选择支付方式', {icon: 2});
					return false;
				
				}
				
				if(money<0.01){
					layer.msg('购买金额必须大于0.01，请修改购买数量', {icon: 2});
					return false;
				}
				
					var orderno=$("[name=p2_Order]").val();
					var result="0";
					 //*******************上传附加信息头
					 {if condition="count($attach) neq 0"}
						
						{foreach name="$attach" item="vo"}
						$.ajaxSettings.async = false; 
						$.getJSON("{:url('@jingdian/Api/AddOrderAttach')}", {
							'orderno': orderno,
							'attachid': {$vo.id},
							'text':$.trim($("#attach{$vo.id}").val())
						}, function(res) {						
							if(res.code == 1) {
								result="1";
							} else {
								result="0"
								
							}
						});
						$.ajaxSettings.async = true; 
						if(result=="0"){
							layer.alert('异常错误，请重新提交', {
									skin: 'layui-layer-lan',
									closeBtn: 0,
									anim: 0 //动画类型
								});
							layer.closeAll('loading');
							return false;	
						}
						{/foreach}		
					{/if}
					//*******************上传附加信息尾
				
				
				
					//********************上传订单头部
					

					
					var maddtype=5;
					if(pd_FrpId=='alipay'){
						maddtype=2;
					}else if(pd_FrpId=='wxpay'){
						maddtype=3;	
					}else if(pd_FrpId=='unionPay'){
						maddtype=4;			
					}else if(pd_FrpId=='qqpay'){
						maddtype=6;	
					}else if(pd_FrpId=='tenpay'){
						maddtype=7;			
					}else{		      			
						maddtype=5;	      			
					}							
					
					$.ajaxSettings.async = false;
					$.getJSON("{:url('@jingdian/Api/AddOrder')}", {
							'mcard':$('[name=p2_Order]').val(),
							'lianxi': lianxi,
							'email':email,
							'mflid':{$param['p5_Pid']},
							'buynum':{$param['buynum']},
							'maddtype':maddtype,
							'mamount':money
							
						}, function(res) {						
							if(res.code == 1) {
								result="1";
							} else {
								result="0"
								
							}
						});
					$.ajaxSettings.async = true; 
						if(result=="0"){
							layer.alert('异常错误，请重新提交', {
									skin: 'layui-layer-lan',
									closeBtn: 0,
									anim: 0 //动画类型
								});
							
							return false;	
						}
						
					//********************上传订单尾部	
					
					
					layer.load();
					document.getElementById("formid").action = "{:url('pay/index/req')}";
					document.getElementById("formid").submit();
					layer.closeAll('loading'); //关闭加载层


			});
		</script>
	</body>

</html>