<div class="footer">

		<a href="https://beian.miit.gov.cn/"><font color="#FFFFFF">{:config('web_site_icp')}</font></a> {:config('web_site_copy')} {:config('web_site_cnzz')}

</div>
<script src="{:config('cdnpublic')}jquery/2.1.4/jquery.min.js"></script> 
<script type="text/javascript" src="__LOAD917__/Skin/List/Default/js/jquery.my-modal.1.1.js"></script> 
<!-- <script src="Skin/List/Js/nyro.js" type="text/javascript"></script> --> 
<script type="text/javascript" src="{:config('cdnpublic')}layer/3.1.1/layer.js"></script> 
<script src="__LOAD917__/Skin/List/Default/js/newshop.js"></script> 
<script>
	function gohome()
		{
			location.href="{:config('is_https')}://"+window.location.host;
		}
</script>