<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="content-language" lang="zh-CN" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
<meta name="keywords" content="{:config('web_site_keyword')}" />
<meta charset="UTF-8" name="description" content="{:config('web_site_description')}" /> 
<title>{:config('web_site_title')}</title>
<link href="__LOAD917__/Skin/List/Default/css/normalize.css" rel="stylesheet" type="text/css" />
<link href="__LOAD917__/Skin/List/Default/css/style.css" rel="stylesheet" type="text/css">
<!-- <link href="Skin/List/Default/css/nyro.css" rel="stylesheet" type="text/css" /> -->
 <link href="https:/static/cdn/layui/v2.5.4/css/layui.css" rel="stylesheet"> 
</head>