<script src="{:config('cdnpublic')}jquery/2.1.4/jquery.min.js"></script>
<script src="{:config('cdnpublic')}twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="{:config('cdnpublic')}chosen/1.1.0/chosen.jquery.min.js"></script>
<script src="{:config('cdnpublic')}iCheck/1.0.2/icheck.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="{:config('cdnpublic')}switchery/0.8.2/switchery.min.js"></script><!--IOS开关样式-->
<script src="__JS__/jquery.form.js"></script>
<script src="{:config('cdnpublic')}layer/3.1.1/layer.js"></script>
<script src="__JS__/laypage/laypage.js"></script>
<script src="__JS__/laytpl/laytpl.js"></script>
<script src="__JS__/lunhui.js"></script>
<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
</script>