{include file="public/header" /}
{literal}<style>
.g-page{padding:10px}
.g-form-wrap{background:#fff;border-radius:6px;border:1px solid #e8e8e8;padding:20px}
.g-form-title{font-size:14px;font-weight:600;color:#1e293b;margin-bottom:16px;padding-bottom:10px;border-bottom:1px solid #e8e8e8}
</style>
{/literal}
<body class="gray-bg">
<div class="g-page">
<div class="g-form-wrap">
    <div class="g-form-title">编辑附加选项</div>
    <form class="form-horizontal" name="edit_group" id="edit_group" method="post" action="{:url('edit_group')}">
        <input type="hidden" name="id" value="{$group.id}">
        <div class="form-group">
            <label class="col-sm-3 control-label">选项名称：</label>
            <div class="input-group col-sm-4">
                <input id="name" type="text" class="form-control" name="name" required="" aria-required="true" value="{$group.name}">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        {if !empty($attach)}
            {foreach name="attach" item="vo"}
            <input name='attach[{$vo.id}][id]' type='hidden' value='{$vo.id}'>
            <p style="margin:0 auto 0 26%;">标题 <input name='attach[{$vo.id}][title]' type="text" style="width:150px;" value='{$vo.title}'>&nbsp;&nbsp;&nbsp; 提示文本 <input name="attach[{$vo.id}][tip]" type="text" style="width:350px;" value='{$vo.tip}'> <a href="javascript:;" onclick="del_attach({$vo.id},{$group.id})" class='btn btn-danger btn-outline btn-xs'><i class='fa fa-trash-o'></i>删除</a><br><br></p>
            {/foreach}
        {/if}
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <label>
                <span class="label label-default" id="enableyh" data-rel="tooltip" title="" data-original-title="Default"><i class="fa fa-plus-square"></i>添加选项</span>
                </label>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状&nbsp;态：</label>
            <div class="col-sm-6">
                <div class="radio i-checks">
                    <input type="radio" name='status' value="1" {if condition="$group['status'] eq 1 "}checked{/if}/>开启&nbsp;&nbsp;
                    <input type="radio" name='status' value="0" {if condition="$group['status'] eq 0 "}checked{/if}/>关闭
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
            </div>
        </div>
    </form>
</div>
</div>
{include file="public/footer" /}
<script type="text/javascript">
$(function(){
    $('#edit_group').ajaxForm({
        beforeSubmit: function(){
            if(''==$.trim($('#name').val())){
                layer.msg('请输入类目名称',{icon:2,time:1500,shade:0.1});
                return false;
            }
        },
        success: function(data){
            if(data.code==1){
                layer.msg(data.msg,{icon:6,time:1500,shade:0.1},function(){ window.location.href="{:url('attach/index')}"; });
            }else{
                layer.msg(data.msg,{icon:5,time:1500,shade:0.1});
                return false;
            }
        },
        dataType:'json'
    });

    $('#enableyh').click(function(){
        $(this).parent().parent().parent().after('<p style="margin:0 auto 0 26%;">标题 <input name=title1[] type="text" style="width:150px;">&nbsp;&nbsp;&nbsp; 提示文本 <input name="tip1[]" type="text" style="width:350px;"> <a class="btn btn-danger btn-outline btn-xs"><i class="fa fa-trash-o"></i>删除</a><br><br></p>');
    });

    var elem = document.querySelector('.js-switch');
    if(elem){ var switchery = new Switchery(elem, {color:'#1AB394'}); }
    var config = {'.chosen-select':{}};
    for(var selector in config){ $(selector).chosen(config[selector]); }
});

function del_attach(id,groupid){ lunhui.confirmattach(id,groupid,'{:url("del_attach")}'); }
</script>
</body>
</html>
