<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
		<script>
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 750 * 40 + "px";
		</script>
		<meta name="format-detection" content="telephone=no" />
		<title>{:config('web_site_title')}</title>
		<link rel="stylesheet" type="text/css" href="__IMGMOBILE__/css/wcfx/foxui.min.css">
		<link rel="stylesheet" type="text/css" href="__IMGMOBILE__/css/wcfx/style.css">
		<script type="text/javascript" src="{:config('cdnpublic')}qrcodejs/1.0.0/qrcode.min.js"></script>
		<link rel="stylesheet" type="text/css" href="__IMGMOBILE__/css/iconfont.css-v=2017070719.css">

		<script type="text/javascript" src="{:config('cdnpublic')}jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="__IMGMOBILE__/js/font.js"></script>
		<script src="/static/admin/js/laypage/laypage.js"></script>
		<script src="/static/admin/js/laytpl/laytpl.js"></script>

		<link rel="stylesheet" href="{:config('cdnpublic')}layer/3.1.1/mobile/need/layer.css" />
		<script type="text/javascript" src="{:config('cdnpublic')}layer/3.1.1/mobile/layer.js"></script>

		<style type="text/css">
			body {
				position: absolute;
				;
				max-width: 750px;
				margin: auto;
			}
			
			.fui-navbar {
				max-width: 750px;
			}
			
			.fui-navbar,
			.fui-footer {
				max-width: 750px;
			}
			
			.fui-page.fui-page-from-center-to-left,
			.fui-page-group.fui-page-from-center-to-left,
			.fui-page.fui-page-from-center-to-right,
			.fui-page-group.fui-page-from-center-to-right,
			.fui-page.fui-page-from-right-to-center,
			.fui-page-group.fui-page-from-right-to-center,
			.fui-page.fui-page-from-left-to-center,
			.fui-page-group.fui-page-from-left-to-center {
				-webkit-animation: pageFromCenterToRight 0ms forwards;
				animation: pageFromCenterToRight 0ms forwards;
			}
		</style>

		<style>
			.danmu {
				display: none;
				opacity: 0;
			}
		</style>
	</head>

	<body ontouchstart="">

		<div class="fui-page-group ">
			<link href="__IMGMOBILE__/css/wcfx/style_1.css" rel="stylesheet">
			<div class="fui-page fui-page-current page-commission-order">
				<div class="fui-header">
					<div class="fui-header-left">
						<a class="back" onclick="back();"></a>
					</div>
					<div class="title">佣金明细</div>

				</div>
				<div class="fui-content navbar">
					<div class="fui-cell-group" style="margin-top:0px;background: #fea23d;color: #fff;">
						<div class="fui-cell">
							<div class="fui-cell-info" style="width:auto;color: #fff;">累计佣金：+{$tgmoney}元</div>
						</div>
					</div>
					

					<div class="content-empty" style="display:none;">
						<i class="icon icon-list"></i><br>暂时没有任何订单
					</div>
					<div id="container">

					</div>
					{if condition="$count neq 0"}
						<div style="background-color: #fff;padding: 25px;margin-top: 0.55rem;">
		                	<div id="AjaxPage" style=" text-align: right;">
		                		
		                	</div>
		                   
		                    
		                    <div style="text-align: right;">
		                        	共{$count}条数据 <span id="allpage"></span>
		                    </div>
		                    
		                </div>
		             {/if}
					<div class="infinite-loading"><span class="fui-preloader"></span><span class="text"> 正在加载...</span></div>
				</div>
			</div>
			
			<script id="list-template" type="text/html">
				{{# for(var i=0;i<d.length;i++){  }}
				<div class="fui-list-group">
					<div class="fui-list" style="height: 2.4rem">
			           
			            <div class="fui-list-inner">
			                <div class="row">
			                    <div class="row-text" style="font-size: .6rem">{{d[i].shopname}}</div>
			                </div>
			                       
			            </div>
			            <div class="fui-list-angle" style="margin: 0;font-size: .6rem;">{{d[i].create_time}}</div>
			        </div>
			              
			        <div class="fui-list" style="margin-top: -0.95rem;">
			            <span class="left" style="font-size: .55rem;color: #999;line-height: .95rem">
			            	推广者：{{d[i].childaccount}}<br>购买者：{{d[i].buyaccount}}<br>推广关系：
			            		{{# if(d[i].relation==0){ }}
					     		推广客户
					     		{{# } }}
					     		
					     		{{# if(d[i].relation==1){ }}
					     		推荐人
					     		{{# } }}
					     		
					     		{{# if(d[i].relation==2){ }}
					     		自己
					     		{{# } }}
					     		
					     		{{# if(d[i].relation==3){ }}
					     		一级分销商
					     		{{# } }}
					     		
					     		{{# if(d[i].relation==4){ }}
					     		二级分销商
					     		{{# } }}
					     		
					     		{{# if(d[i].relation==5){ }}
					     		三级分销商
					     		{{# } }}
			            </span>
			           
			                       
			        </div>
			        <div class="fui-list" style="font-size: .55rem;justify-content: flex-end;border-top: .025rem solid #ebebeb;">
			     	{{# if(d[i].tgtype==0){ }}
		     		  佣金：<span class="right" style="font-size: .8rem;color:#ff8000;">+{{d[i].money}}</span>&nbsp;[分销佣金]
		     		{{# } }}
		     		{{# if(d[i].tgtype==1){ }}
		     		  佣金：<span class="right" style="font-size: .8rem;color:blue;">+{{d[i].money}}</span>&nbsp;[推广佣金]
		     		{{# } }}       
			          
			        </div>
			    </div>
			    {{# } }} 
			</script>

			<div class="fui-navbar">
					<a href="{:url('mobile/user/usfxcenter')}" class="external nav-item ">
						<span class="icon icon-home"></span>
						<span class="label">分销中心</span>

					</a>
					
					<a href="{:url('user/ustgmoneylog')}" class="external nav-item active">
						<span class="icon icon-list"></span>
						<span class="label">佣金明细</span>
					</a>

					<a href="{:url('user/uslowermember')}" class="external nav-item ">
						<span class="icon icon-group"></span>
						<span class="label">我的下线</span>
					</a>
					
				</div>

		</div>
		<script type="application/javascript">
			{include file="public/common"/}
			Ajaxpage();

			function Ajaxpage(curr) {
				var key = $('#key').val();
				$.getJSON('{:url("mobile/user/ustgmoneylog")}', {
					page: curr || 1,
					key: key
				}, function(data) {
					$(".infinite-loading").css('display', 'none'); //数据加载完关闭动画 
					if(data == '') {
						$(".content-empty").show();
					} else {
						var tpl = document.getElementById('list-template').innerHTML;
						laytpl(tpl).render(data, function(html) {
							document.getElementById('container').innerHTML = html;
						});
						laypage({
							cont: $('#AjaxPage'), //容器。值支持id名、原生dom对象，jquery对象,
							pages: '{$allpage}', //总页数
							skip: true, //是否开启跳页

							skin: '#1AB5B7', //分页组件颜色
							curr: curr || 1,
							groups: 3, //连续显示分页数
							jump: function(obj, first) {
								if(!first) {
									Ajaxpage(obj.curr)
								}
								$('#allpage').html('第' + obj.curr + '页，共' + obj.pages + '页');
							}
						});
					}
				});
			}
		</script>
	</body>

</html>