{include file="public/header" /}
{literal}<style>
.g-page{padding:10px}
.g-form-wrap{background:#fff;border-radius:6px;border:1px solid #e8e8e8;padding:20px}
.g-form-title{font-size:14px;font-weight:600;color:#1e293b;margin-bottom:16px;padding-bottom:10px;border-bottom:1px solid #e8e8e8}
.g-hint{font-size:11px;color:#94a3b8;margin-top:4px}
.g-hint i{margin-right:3px}
</style>
{/literal}
<body class="gray-bg">
<div class="g-page">
<div class="g-form-wrap">
    <div class="g-form-title">编辑会员组</div>
    <form class="form-horizontal" name="edit_group" id="edit_group" method="post" action="{:url('edit_group')}">
        <input type="hidden" name="id" value="{$group.id}">
        <div class="form-group">
            <label class="col-sm-3 control-label">会员组名称：</label>
            <div class="input-group col-sm-4">
                <input id="group_name" type="text" class="form-control" name="group_name" value="{$group.group_name}">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">所需积分：</label>
            <div class="input-group col-sm-4">
                <input id="point" type="text" class="form-control" name="point" value="{$group.point}" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                <div class="g-hint"><i class="fa fa-info-circle"></i>输入-1则表示为代理，代理不管积分多少都不会升级</div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">付费购买：</label>
            <div class="input-group col-sm-4">
                <input id="price" type="text" class="form-control" name="price" value="{$group.price}" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                <div class="g-hint"><i class="fa fa-info-circle"></i>代理组 自主购买等级所需余额</div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">会员折扣：</label>
            <div class="input-group col-sm-4">
                <input id="discount" type="text" class="form-control" name="discount" value="{$group.discount}" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                <div class="g-hint"><i class="fa fa-info-circle"></i>输入范围0-100   0和100表示不打折 例子：92 表示打9.2折</div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">默认等级：</label>
            <div class="col-sm-6">
                <div class="radio i-checks">
                    <input type="radio" name='is_default' value="1" {if condition="$group['is_default'] eq 1 "}checked{/if}/>默认&nbsp;&nbsp;
                    <input type="radio" name='is_default' value="0" {if condition="$group['is_default'] eq 0 "}checked{/if}/>不默认
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状&nbsp;态：</label>
            <div class="col-sm-6">
                <div class="radio i-checks">
                    <input type="radio" name='status' value="1" {if condition="$group['status'] eq 1 "}checked{/if}/>开启&nbsp;&nbsp;
                    <input type="radio" name='status' value="0" {if condition="$group['status'] eq 0 "}checked{/if}/>关闭
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">排序：</label>
            <div class="input-group col-sm-4">
                <input id="sort" type="text" class="form-control" name="sort" value="{$group.sort}" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
            </div>
        </div>
    </form>
</div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>
<script type="text/javascript">
$(function(){
    $('#edit_group').ajaxForm({
        beforeSubmit: function(){
            if(''==$.trim($('#group_name').val())){
                layer.msg('请输入会员组名称',{icon:2,time:1500,shade:0.1});
                return false;
            }
            if(''==$.trim($('#point').val())){
                layer.msg('请输入所需积分',{icon:2,time:1500,shade:0.1});
                return false;
            }
            if(''==$.trim($('#price').val())){
                layer.msg('请输入所需金额',{icon:2,time:1500,shade:0.1});
                return false;
            }
            if(''==$.trim($('#discount').val()) || $.trim($('#discount').val())>100){
                layer.msg('请输入正确的会员组折扣（0-100）',{icon:2,time:1500,shade:0.1});
                return false;
            }
        },
        success: function(data){
            if(data.code==1){
                layer.msg(data.msg,{icon:6,time:1500,shade:0.1},function(){ window.location.href="{:url('member/group')}"; });
            }else{
                layer.msg(data.msg,{icon:5,time:1500,shade:0.1});
                return false;
            }
        },
        dataType:'json'
    });

    var elem = document.querySelector('.js-switch');
    if(elem){ var switchery = new Switchery(elem, {color:'#1AB394'}); }
    var config = {'.chosen-select':{}};
    for(var selector in config){ $(selector).chosen(config[selector]); }
});
</script>
</body>
</html>
