<!DOCTYPE html>
<html>
  <head>
   <meta name="keywords" content="{:config('web_site_keyword')}" />
  <meta charset="UTF-8" name="description" content="{:config('web_site_description')}" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{:config('web_site_title')}</title> 
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{:config('cdnpublic')}weui/1.1.2/style/weui.min.css">
	<link rel="stylesheet" href="{:config('cdnpublic')}jquery-weui/1.2.0/css/jquery-weui.css">
	<link rel="stylesheet" href="__CSS__/demos.css">

	<script type="text/javascript" src="{:config('cdnpublic')}jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="{:config('cdnpublic')}jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
	<style>
		body{
			font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
		}
		.price{
    padding: 0 .6em 0 .7em;
    border-left: 1px solid #e5e5e5;
    font-size: 17px;
    color: #3cc51f;
		}
		.weui-btn_primary {
    background-color: #648ff7;
}
	</style>
  </head>